.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    border: 2px solid #f2e5fb;
    width: 600px;
    padding-bottom: 30px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 10px;
}

.text {
    color: blueviolet;
    font-size: 48px;
    font-weight: 700;
}

.line {
    width: 61px;
    height: 6px;
    background-color: #3c009d;
    border-radius: 9px;

}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background-color: #eaeaea;
    border-radius: 6px;

}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background-color: #676767;
}

.Big-container {
    display: flex;
    height: 128vh;
    width: 100vw;

}

.image {
    margin-top: 118px;
    height: 90%;
    width: 50%;
    background-color: blue;
}

.submit-input {
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    height: 46px;
    margin-bottom: 15px;
    width: 167px;
    color: white;
    background-color: rgb(64 126 228);
    border: 0;
    border-radius: 25px;
}



.red {
    color: red;
}

.gray {
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    height: 46px;
    width: 167px;
    color: white;

    border: 0;
    border-radius: 25px;
    background-color: gray;

}

.change-input {
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    height: 46px;
    width: 167px;
    color: white;
    background-color: rgb(44, 26, 207);
    border: 0;
    border-radius: 25px;


}

.image img {
    width: 820px;
}
.para{
    margin-left: 51px;
    padding-left: 12px;
    font-size: 15px;
}
.para2{
    margin-left: 61px;
    padding-left: 3px;
   
    position: absolute;
    bottom: -54px;
   
}